h1 {
    align-items: center;
    justify-content: center;
    display: flex;
}

.search {
    display: flex;
    justify-content: center;
}

  /* Style the search field */
form.example input[type=text] {
    padding: 5px;
    margin-left: 3px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 90%;
    background: #f1f1f1;
}

/* Style the submit button */
form.example button {
    /* float: left; */
    margin-left: 23px;
    width: 75%;
    padding: 5px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    /* border-left: none; Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}

.doctorSection {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.doctorInfo th, td {
    background-color: rgb(199, 199, 199);
}

.doctorInfo {
    width: 60%;
    height: 100%;
}

td{
    text-align: center;
}
td input {
    width: 100%;
}

label {
    display: inline-block;
    padding-top: 5px;
    width: 115px;
    height: 25px;
    border: 2px solid #1982ff;
    text-align: center;
    background-color: #1982ff;
    color: white;
    border-radius: 0 8px 0 0;
}

.input{
    margin-left: 5px;
    border: 6px solid #1982ff;
}

.apptSection {
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    justify-content: center;
}

.submit {
    margin-right: 8px;
    padding: 8px;
    background-color: green;
    border: none;
    color: white;
}

.patient {
    display: flex;
    justify-content: center;
}

.patientInfo {
    width: 20%;
    height: 100%;
}

.patientInfo th, td {
    background-color: rgb(199, 199, 199);
}