*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 150px;
    border: 2px solid black;
}
.footer{
    width: 100%;
    height: 150px;
}
.main{
    height: 550px;
    width: 100%;
}
.homeTitle{
    text-align: center;
    font-size: 50px;
    margin-top: 3%;
}
.mainFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.leftFlex{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rightFlex{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 50px;
}
/* .rightTop{
    width: 100%;
    height: 50%;
    border: 2px solid purple;
    display: flex;

}
.rightBottom{
    width: 100%;
    height: 50%;
    border: 2px solid purple;
    display: flex;
} */
.infoBoxes{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    width: 100%;
    height: 20%;
}